@font-face {
  font-family: 'Open Sans';
  src: url('OpenSansRegular.eot');
  src: local('OpenSansRegular'), local('OpenSansRegular'),
    url('../fonts/OpenSansRegular.woff2') format('woff2'),
    url('../fonts/OpenSansRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSansSemiBold.eot');
  src: local('OpenSansSemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('OpenSansBold.eot');
  src: local('OpenSansBold'), local('OpenSans-Bold'),
    url('../fonts/OpenSansBold.woff2') format('woff2'),
    url('../fonts/OpenSansBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

/* glob*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 400;
  color: #333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: #333;
}

.container {
  width: 1660px;
  padding: 0 20px 0 40px;
  max-width: 100%;
  margin: 0 auto;
}

/*header*/
.header {
  background-color: #000;
}

.header__container {
  padding-top: 30px;
  padding-bottom: 26px;
  align-items: center;
}

.header__nav {
  margin-right: 285px;
  font-size: 18px;
  font-weight: 600;
  color: #FFF;
}

.header__element1 {
  margin-right: auto;
}

.nav__item:not(:last-child) {
  margin-right: 96px;
}

.nav__link {
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  background-color: #7943A4;
  outline: none;
}

.nav__link:hover {
  color: #C283F3;
}

.nav__link:active {
  color: #7943A4;
  background-color: transparent;
}

.header__search {
  border: none;
  background-color: transparent;
}

.header__search svg {
  fill: #fff;
  transition: fill 0.3s ease-in-out;
}

.header__search:focus {
  background-color: #7943A4;
  outline: none;
}

.header__search:hover svg {
  fill: #C283F3;
}

.header__search:active svg {
  fill: #7943A4;
}

.header__search:active {
  background-color: transparent;
}

/*hero*/
.hero-container {
  padding-top: 147px;
  padding-bottom: 170px;
  margin-bottom: 85px;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  max-width: 579px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 700;
  line-height: 95%;
  color: #FFF;
}

.hero__descr {
  max-width: 555px;
  margin: 0;
  margin-bottom: 116px;
  font-size: 18px;
  font-weight: 700;
  line-height: 166.667%;
  color: #FFF;
}

.hero__btn {
  padding: 20px 32px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  background-color: #9D5CD0;
  color: #FFF;
  border: 3px solid #9D5CD0;
  transition: border-color 0.3s ease-in-out;
}

.hero__btn:focus {
  border-color: #C283F3;
  outline: none;
}

.hero__btn:hover {
  border-color: #D1A9F0;
}

.hero__btn:active {
  background-color: #7943A4;
}

/*about-us*/
.about-us__container {
  margin-bottom: 69px;
}

.about-us__title {
  margin-bottom: 22px;
}

.about-us__descr {
  max-width: 1050px;
  margin: 0;
  min-height: 214px;
  font-size: 16px;
  line-height: 200%;
  color: #333;
}

/*gallery*/
.gallery {
  background-image: url(../img/gallery-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__container {
  padding-top: 85px;
  padding-bottom: 76px;
  margin-bottom: 85px;

}

.gallery__title {
  margin-bottom: 25px;
  color: #FFF;
}

.gallery__content {
  justify-content: space-between;
}

.radio-text {
  font-size: 16px;
  line-height: 203%;
  color: #FFF;
}

.gallery__list {
  gap: 50px;
}

.gallery__left {
  margin-top: auto;
  flex-direction: column;
  line-height: 200%;
}

.gallery__radio>input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.gallery__radio>span {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.gallery__radio>span::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #adb5bd;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: border-color 0.3s ease-in-out;
}

.gallery__radio>input:checked+span::before {
  border-color: #C283F3;
  background-color: transparent;
  background-image: url(../img/check.svg);
}

.gallery__radio:focus {
  outline: none;
}

.gallery__radio:focus span {
  color: #C283F3;
}

.gallery__radio input:focus+span {
  color: #C283F3;
}

.gallery__radio>input:focus:not(:checked)+span::before {
  border-color: #C283F3;
}

.gallery__radio>input:not(:disabled):not(:checked)+span:hover::before {
  border-color: #C283F3;
}

.gallery__radio>input:not(:disabled):active+span::before {
  border-color: #C283F3;
}

.radio-text:active {
  color: #C283F3;
}

/*catalog*/
.catalog__container {
  margin-bottom: 81px;
}

.catalog__title {
  margin-bottom: 22px;
}

.catalog__descr {
  max-width: 1080px;
  margin: 0;
  margin-bottom: 38px;
  font-size: 16px;
  line-height: 200%;
  color: #333;
}

.catalog__item {
  align-items: center;
}

.catalog__list {
  flex-direction: column;
  gap: 47px;
}

.catalog__img {
  margin-right: 50px;
}

.catalog__heading {
  margin-bottom: 14px;
}

.data {
  display: block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  color: #999;
}

.catalog__text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #333;
}

/*events*/
.events__container {
  margin-bottom: 85px;
}

.events__title {
  margin-bottom: 21px;
}

.events__list {
  gap: 50px;
}

.events__item {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.events__picture {
  width: 100%;
  height: 300px;
}

.events__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.events__blog {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 15px 50px 40px 49px;
  border: 1px solid #CACACA;
  border-top: none;
}

.events__span {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  font-size: 12px;
  color: #999;
}

.events__heading {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 135%;
  color: #333;
}

.events__heading1 {
  max-width: 330px;
}

.events__text {
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  color: #333;
}

.events__btn {
  max-width: 87px;
  text-align: left;
  margin-top: auto;
  font-size: 16px;
  line-height: 177%;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.events__btn:focus {
  background-color: #9D5CD0;
  color: #fff;
  border-color: #fff;
  outline: none;
}

.events__btn:hover {
  color: #7943A4;
  border-color: #7943A4;
}

.events__btn:active {
  color: #333;
  border-color: #333;
  background-color: transparent;
}

/*projects*/
.projects__container {
  margin-bottom: 78px;
}

.projects__title {
  margin-bottom: 20px;
}

.projects__descr {
  max-width: 1079px;
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 200%;
  color: #333;
}

.projects__heading {
  margin-bottom: 17px;
}

.projects__logo img {
  border: 1px solid #CACACA;
  padding: 27px 25px;
}

.projects__logo:not(:last-child) {
  margin-right: 30px;
}

/*contacts*/
.contacts__container {
  padding-top: 34px;
  padding-bottom: 37px;
  justify-content: space-between;
  align-items: center;
}

.contacts__address {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 200%;
  color: #333;
}

.contacts__heading {
  margin-bottom: 3px;
}

.form-input {
  width: 270px;
  padding: 14px 0 14px 24px;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid #333;
  color: #999;
  transition: background-color 0.3s ease-in-out;
}

.form-input:focus {
  outline: none;
  background-color: #ECECEC;
}

.form-input:hover {
  background-color: #ECECEC;
}

input:focus:required:invalid {
  border-color: red;
}

.form-item:not(:last-child) {
  margin-right: 20px;
}

.form-btn {
  width: 329px;
  padding: 16px 0 14px 0px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 100px;
  background-color: transparent;
  border: 2px solid #9D5CD0;
  color: #9D5CD0;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.form-btn:focus {
  outline: none;
  border-color: #D1A9F0;
}

.form-btn:hover {
  background-color: #9D5CD0;
  color: #fff;
}

.form-btn:active {
  background-color: #7943A4;
  border: 3px solid #D1A9F0;
}

.contacts__text {
  margin: 0;
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 600;
  line-height: 133.333%;
  color: #333;
}

.messengers:not(:last-child) {
  margin-right: 17px;
}

.messengers-whatsapp svg {
  fill: #30BF39;
  transition: opacity 0.3s ease-in-out;
}

.messengers-whatsapp:focus {
  outline: none;
}

.messengers-whatsapp:focus svg {
  opacity: 0.5;
}

.messengers-whatsapp:hover svg {
  opacity: 0.5;
}

.messengers-whatsapp:active svg {
  border: 1px solid #9D5CD0;
  border-radius: 50%;
}

.messengers-telegram svg {
  fill: #26A5E4;
  transition: opacity 0.3s ease-in-out;
}

.messengers-telegram:focus {
  outline: none;
}

.messengers-telegram:focus svg {
  opacity: 0.5;
}

.messengers-telegram:hover svg {
  opacity: 0.5;
}

.messengers-telegram:active svg {
  border: 1px solid #9D5CD0;
  border-radius: 50%;
}

/*footer*/
.footer {
  background-color: #000;
}

.footer__container {
  padding-top: 48px;
  padding-bottom: 41px;
  background-color: #000;
  justify-content: space-between;
}

.footer-link:not(:last-child) {
  margin-right: 16px;
}

.footer-link svg {
  fill: #CACACA;
  transition: fill 0.3s ease-in-out;
}

.footer-link:focus svg {
  fill: #fff;
}

.footer-link:focus {
  outline: none;
}

.footer-link:hover svg {
  fill: #fff;
}

.footer-link:active svg {
  fill: #9D5CD0;
}
